    @import "/fontawesome.scss";
    @import "/solid.scss";
    @import "/regular.scss";
    @import "/fonts.scss";
    @mixin font-base {
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
    }
    
    @mixin font-OS {
        font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    }
    
    @mixin font-playfair {
        font-family: "Playfair Display", "Georgia", serif;
        -webkit-font-smoothing: antialiased;
        text-rendering: geometricPrecision;
    }
    
    // ---- Brand colors  ----------
    $color-white: #fff;
    $color-gray1: #F3F2F6;
    $color-gray4: #585452;
    $color-gray5: #404042;
    $color-gray6: #27262A;
    $color-gold1:#D09A3F;
    $color-gold2: #B4822E;
    // ---- End Brand colors  ----------
    // ---- Sizes
    $normal-size: 1rem;
    $max-content: 1100px;
    /* -----  Basic styling  ----- */
    
    html {
        height: 100%;
        font-size: 62.5%;
        // overflow: hidden;
    }
    
    body {
        height: 100%;
        @include font-base;
        @include font-OS;
        font-size: 1.4rem;
        color: $color-gray6;
        background-color: $color-gray5;
    }
    
    a {
        color: $color-gold1;
        text-decoration: none;
        transition: all 0.25s ease;
    }
    
    a:hover {
        color: $color-gray6;
    }
    
    a:focus {
        outline: 0 none transparent;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
        padding: 0;
    }
    
     ::-webkit-input-placeholder {
        color: #999;
        font: 99% sans-serif;
    }
    
    input:-moz-placeholder {
        color: #999;
        font: 99% sans-serif;
    }
    
     ::-ms-clear {
        display: none;
    }
    
    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
        display: none;
    }
    
    input[type="text"] {}
    
    label {}
    
    select {}
    
    select::-ms-expand {
        display: none;
    }
    
    select:disabled::-ms-expand {
        background: #f60;
    }
    
    input:focus,
    button:focus {
        outline: none transparent;
    }
    
    [v-cloak] {
        display: none;
    }
    
    //-----------------------------------------------
    h2 {
        @include font-playfair;
        font-size: 6rem;
        font-weight: 400;
        padding: 0;
        line-height: 1.3;
        // letter-spacing: -0.03em;
        font-feature-settings: "titl", "kern", "liga";
    }
    
    h3 {
        font-size: 4rem;
        line-height: 1.1;
        margin-bottom: 6rem;
        padding-bottom: 2rem;
        max-width: 55%;
        font-feature-settings: "titl", "kern", "liga";
        &:after {
            content: "";
            width: 30%;
            height: 0.5rem;
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: $color-gold1;
        }
    }
    
    h4 {
        font-feature-settings: "titl", "kern", "liga";
        font-size: 3rem;
        margin-bottom: 2rem;
        line-height: 1.1;
        font-weight: 700;
        span {
            display: block;
            font-size: 1.8rem;
            font-weight: 400;
        }
    }
    
    h5 {
        font-size: 2.5rem;
        font-weight: 300;
        margin-bottom: 2rem;
        line-height: 1.4;
    }
    
    p,
    ol li,
    ul li {
        margin-bottom: 1rem;
        font-size: 1.6rem;
        line-height: 1.4;
    }
    
    .page-enter-active,
    .page-leave-active {
        transition: all 0.5s ease;
        h2 {
            transition: all 0.6s ease;
        }
    }
    
    .page-enter,
    .page-leave-active {
        opacity: 0;
        h2 {
            transform: translateX(5%);
        }
    }
    
    .pageWidth {
        max-width: $max-content;
        margin: 0 auto;
        padding: 0 2rem;
    }
    
    #pageTop {
        border-top: 0.5rem solid $color-gold1;
        background-color: $color-gray5;
        position: sticky;
        top: 0;
        z-index: 100;
        padding: 2rem 0;
        &:before,
        &:after {
            content: '';
            position: absolute;
            clip-path: polygon(0 0, 0% 100%, 100% 0);
            background-color: $color-gray5;
            height: 2rem;
            left: 0;
            right: 0;
            top: 99.5%;
        }
        &:after {
            z-index: -1;
        }
        &:before {
            height: 2.3rem;
            z-index: -2;
            background-color: #333;
            opacity: 0;
            transition: opacity 0.25s ease;
            filter: blur(1rem);
        }
        header {
            max-width: $max-content;
            margin: 0 auto;
            padding: 2rem;
            min-height: 8rem;
            transition: all 0.25s ease;
            h1 {
                position: absolute;
                height: 70%;
                width: 20rem;
                top: 50%;
                left: 1rem;
                z-index: 10;
                text-indent: -9999px;
                background: transparent url('~assets/images/curious_logo.svg') top left no-repeat;
                background-size: contain;
                transform: translateY(-50%);
                transition: all 0.25s ease;
                cursor: pointer;
            }
            .menuToggle,
            .location {
                display: none;
            }
            nav {
                position: absolute;
                right: 2rem;
                top: 50%;
                transform: translateY(-50%);
                //max-width: 80%;
                transition: all 0.25s ease;
                font-size: 1.6rem;
                a {
                    display: inline-block;
                    margin-left: 2rem;
                    // &:after {
                    //     content: '';
                    //     position: absolute;
                    //     bottom: 0;
                    //     left: 0;
                    //     right: 0;
                    //     height: 0.1rem;
                    //     background-color: $color-white;
                    //     opacity: 0;
                    //     transition: all 0.25s ease-in-out;
                    // }
                    // // &:hover {
                    // //     color: $color-white;
                    // //     &:after {
                    // //         opacity: 1;
                    // //         transform: translateY(0.5rem);
                    // //     }
                    // // }
                    &.nuxt-link-active {
                        color: $color-white;
                        text-decoration: none;
                    }
                }
                .navWrap {
                    display: inline-block;
                    color: $color-gold1;
                    padding-right: 12rem;
                    .subNav {
                        position: absolute;
                        right: 0;
                        top: -0.2rem;
                        padding: 0.2rem 0.5rem 0.3rem 0.5rem;
                        border-radius: 0.3rem;
                        background: lighten($color-gray5, 5%);
                        box-shadow: 0 0 0.2rem 0 rgba(0, 0, 0, 0.2);
                        min-width: 11.6rem;
                        transition: all 0.25s ease-in-out;
                        cursor: pointer;
                        >* {
                            display: block;
                            margin-left: 0;
                        }
                        span:after {
                            @extend %fa-icon;
                            @extend .far;
                            content: fa-content($fa-var-angle-down);
                            position: absolute;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                        a {
                            margin: 0.3rem 0;
                            display: none;
                        }
                    }
                    &:hover {
                        .subNav {
                            background: lighten($color-gray5, 10%);
                            box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.3);
                            a {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
        &.smallHeader {
            header {
                min-height: 3rem;
                h1 {
                    height: 90%;
                }
            }
            &:before {
                opacity: 0.6;
            }
        }
    }
    
    $top-height: 60vh;
    #top {
        background-color: $color-gray5;
        min-height: $top-height;
        color: $color-white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        >* {
            width: 100%;
        }
        h2 {
            max-width: 93%;
        }
        .cta {
            min-height: 10vh;
            font-size: 2rem;
            text-align: right;
            margin-top: 2rem;
        }
        a {}
        .sidebar {
            position: absolute;
            bottom: 0;
            left: 4rem;
            font-size: 1.2rem;
            transform: rotate(-90deg);
            transform-origin: left top;
            opacity: 0.5;
            width: $top-height;
            text-align: center;
        }
    }
    
    button,
    .button {
        background: $color-gold2;
        color: $color-white;
        font-size: 1.6rem;
        font-weight: 600;
        text-align: center;
        padding: 1rem;
        border: 0 none transparent;
        border-radius: 0.3rem;
        transition: all 0.25s ease;
        cursor: pointer;
        &:hover {
            color: $color-white;
            background-color: $color-gray6;
        }
    }
    
    .responsiveImage {
        position: relative;
        padding-bottom: 49.09%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
        background-position: center center;
        background-size: cover;
        transition: opacity 0.25s ease-in-out;
        opacity: 0;
        &[lazy=loaded] {
            opacity: 1;
        }
    }
    
    .responsiveVideo {
        position: relative;
        padding-bottom: 49.09%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
        video {
            display: block;
            object-fit: cover;
            max-width: 100%;
        }
        iframe,
        object,
        embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    
    .col2,
    .col3,
    .col4 {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .col1 {
        h3,
        h4,
        h5,
        p {
            max-width: 80%;
        }
    }
    
    .col2 {
        >.col {
            flex-basis: 48%;
        }
        h3 {
            flex-basis: 60%;
            max-width: 100%;
        }
    }
    
    .col3 {
        >.col {
            flex-basis: 30%;
        }
        .double {
            flex-basis: 60%;
        }
        h3 {
            flex-basis: 60%;
            max-width: 100%;
        }
    }
    
    .col4 {
        >.col {
            margin: 0;
            flex-basis: calc(25% - 2rem);
        }
    }
    
    #main {
        padding: 8rem 0;
        background-color: $color-gray1;
        &:before {
            content: '';
            background-color: $color-gray1;
            position: absolute;
            height: 5rem;
            bottom: 99.9%;
            left: 0;
            right: 0;
            clip-path: polygon(0 0, 0% 100%, 100% 100%);
        }
        .blockLink {
            display: block;
            padding: 1rem 4rem 1rem 1rem;
            background: $color-gold1;
            color: $color-white;
            border-radius: 0.3rem;
            font-size: 1.6rem;
            line-height: 1.4;
            transition: background 0.25s ease;
            &:after {
                @extend %fa-icon;
                @extend .fas;
                content: fa-content($fa-var-arrow-right);
                position: absolute;
                top: 50%;
                right: 1rem;
                transform: translateY(-50%);
            }
            &:hover {
                background-color: $color-gray5;
            }
        }
    }
    
    #aboutUs {
        padding: 8rem 0;
        color: $color-gray1;
    }
    
    .aboutProcess {
        display: block;
        margin: 4rem 0 0 0;
        width: 30%;
    }
    
    #servicesHeader {
        .col {
            color: $color-gold1;
        }
    }
    
    .serviceIntro {
        display: flex;
        justify-content: space-between;
        >*:nth-child(1) {
            flex-basis: 60%;
        }
        >*:nth-child(2) {
            flex-basis: calc(40% - 6rem);
            margin-left: 6rem;
        }
        h3 {
            max-width: 95%;
        }
        .questions {
            padding: 0;
            margin: 0;
            list-style-type: none;
            li {
                margin: 0;
                padding: 1.5rem 0 1.5rem 3rem;
                border-top: 1px solid darken($color-gray1, 5%);
                font-size: 1.5rem;
                &:before {
                    content: '';
                    width: 0.8rem;
                    height: 0.8rem;
                    background: $color-gold2;
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                }
            }
        }
        .feature {
            background: darken($color-gray1, 10%);
            padding: 1rem 2rem;
            .featureImage {
                position: relative;
                padding-bottom: 49.09%;
                height: 0;
                overflow: hidden;
                max-width: 100%;
                background-position: center center;
                background-size: cover;
                transition: opacity 0.25s ease-in-out;
                opacity: 0;
                margin-bottom: 1rem;
                &[lazy=loaded] {
                    opacity: 1;
                }
            }
            .featureTop {
                margin-bottom: 4rem;
            }
            h5 {
                color: $color-gray6;
            }
            a {
                color: $color-white;
                font-weight: 600;
                text-decoration: underline;
            }
            li {
                &:before {
                    background-color: $color-white;
                }
            }
            button {
                display: inline-block;
                margin-left: 0.5rem;
                font-size: 1rem;
                font-weight: 400;
                padding: 0.5rem 1rem;
            }
        }
    }
    
    #caseStudies {
        padding: 4rem 0 8rem 0;
        background-color: $color-gray5;
        color: $color-white;
    }
    
    #people {
        h3 {
            max-width: 100%;
        }
        a {
            color: $color-white;
            font-weight: 600;
            &:hover {
                color: $color-gray6;
            }
        }
        .teamTop,
        .teamBottom {
            .pageWidth,
            .personInfo {
                display: flex;
                justify-content: space-between;
            }
        }
        .teamTop {
            color: $color-white;
            background-color: $color-gold2;
            .leftSide {
                padding: 4rem 2rem 4rem 0;
            }
            .rightSide {
                display: flex;
                border-left: 1px solid $color-white;
                border-right: 1px solid $color-white;
                justify-content: space-between;
            }
            .leftSide {
                flex-basis: 40%;
            }
            .rightSide {
                flex-basis: 60%;
            }
        }
        .pic {
            flex-basis: 16.667%;
            border-right: 1px solid $color-white;
            border-left: 1px solid $color-white;
            min-height: 100%;
            background-color: $color-gold1;
            background-blend-mode: multiply;
            background-size: cover;
            background-position: center center;
            z-index: 5;
            transition: all 0.25s ease-in-out;
            cursor: pointer;
            &:after {
                @extend %fa-icon;
                @extend .fas;
                content: fa-content($fa-var-arrow-up);
                width: 4rem;
                height: 4rem;
                line-height: 4rem;
                background-color: $color-gold2;
                border: 2px solid $color-white;
                border-radius: 50%;
                text-align: center;
                position: absolute;
                bottom: -2rem;
                left: 50%;
                transform: translate(-50%, 100%);
                opacity: 0;
                z-index: 100;
                font-size: 2rem;
                box-shadow: 0 0 0.4rem 0 rgba($color: #000000, $alpha: 0.2);
                transition: all 0.25s ease-in-out;
            }
            &:hover {
                z-index: 10;
                transform: scale(1.05);
            }
            &.active {
                cursor: default;
                background-color: $color-white;
                &:after {
                    transform: translate(-50%, 0);
                    opacity: 1;
                }
                &:hover {
                    transform: scale(1);
                }
            }
        }
        .teamBottom {
            padding: 8rem 0;
            background-color: $color-gold1;
            .leftSide,
            .rightSide {
                flex-basis: 50%;
            }
            .leftSide {
                padding-right: 2rem;
            }
            .rightSide {
                padding-left: 2rem;
            }
        }
        .peopleWrap {
            min-height: 50rem;
            overflow: hidden;
        }
        .personInfo {
            position: absolute;
            top: 0;
            left: 2rem;
            right: 2rem;
        }
        .questionList {
            padding: 0;
            li {
                list-style-type: none;
                border-top: 1px solid $color-gold2;
                padding: 1rem 0;
                font-size: 1.6rem;
                font-weight: 400;
            }
            li:first-child {
                border: 0 none transparent;
            }
        }
        .questions {
            font-size: 1.5rem;
            font-weight: 600;
        }
        .expertLink {
            display: block;
            background-color: $color-gold2;
            font-size: 1.6rem;
            padding: 0.5rem 1rem;
            border-radius: 0.2rem;
            margin-top: 1rem;
            width: 95%;
            span {
                font-weight: 300;
            }
        }
        .expertLink:nth-of-type(1) {
            margin-top: 4rem;
        }
    }
    
    .slideFade-enter-active {
        transition: all .4s ease-out;
    }
    
    .slideFade-leave-active {
        transition: all 0.2s ease;
        // transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    
    .slideFade-enter {
        transform: translateX(10%);
        opacity: 0;
    }
    
    .slideFade-leave-to {
        opacity: 0;
    }
    
    #contact {
        $bg-color: darken($color-gray1, 2%);
        background-color: $bg-color;
        padding: 8rem 0;
        .col2 {
            flex-direction: row-reverse;
        }
        h3 {
            max-width: 100%;
        }
        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 0;
            background-color: $color-white;
            color: $color-gray6;
        }
        input,
        select,
        textarea {
            display: block;
            width: 100%;
            margin-bottom: 2rem;
            padding: 1rem;
            border: 0 none transparent;
            border-left: 2px solid $color-gold1;
            font-size: 1.6rem;
        }
        .selectList:after {
            @extend %fa-icon;
            @extend .fas;
            content: fa-content($fa-var-sort);
            position: absolute;
            top: 50%;
            right: 1rem;
            transform: translateY(-50%);
            font-size: 1.8rem;
            color: $color-gold1;
        }
        .buttonWrap {
            padding-top: 2rem;
            text-align: center;
        }
        .address {
            margin-top: 4rem;
            a {
                display: block;
                padding-left: 3rem;
                &:before {
                    @extend %fa-icon;
                    @extend .fas;
                    content: fa-content($fa-var-map-marker-alt);
                    position: absolute;
                    left: 0;
                    top: 0;
                    font-size: 2.4rem;
                }
            }
        }
        .hp,
        label {
            position: absolute;
            top: 0;
            left: -10rem;
            width: 0;
            padding: 0;
            margin: 0;
            opacity: 0;
        }
        &:before {
            content: '';
            background-color: $bg-color;
            position: absolute;
            height: 3rem;
            bottom: 99.9%;
            left: 0;
            right: 0;
            clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        }
        .success {
            padding-top: 2rem;
            &:before {
                @extend %fa-icon;
                @extend .fas;
                content: fa-content($fa-var-paper-plane);
                display: block;
                text-align: center;
                font-size: 15rem;
                margin-bottom: 4rem;
                color: $color-white;
                text-shadow: 0 0 4rem rgba(0, 0, 0, 0.2);
            }
        }
    }
    
    // -------------- Case Study Modules -------------------//
    .studySection {
        padding: 6rem 0;
        .responsiveImage,
        .responsiveVideo {
            background-repeat: no-repeat;
            border: 1px solid $color-white;
            margin-bottom: 2rem;
            border-radius: 0.3rem;
        }
        .quote {
            @include font-playfair;
            &:before {
                content: open-quote;
                font-size: 200%;
            }
            &:after {
                content: close-quote;
            }
        }
        .attr {
            text-align: right;
            font-weight: 600;
            &:before {
                content: '- '
            }
        }
        ol,
        ul {
            padding-left: 2rem;
            li {
                margin-bottom: 1rem;
            }
        }
        &:first-child {
            padding-top: 8rem;
        }
        h3 {
            max-width: 70%;
            span {
                display: block;
                font-weight: 400;
            }
        }
        .callout {
            color: $color-gold1;
        }
        .note {
            color: lighten($color-gray4, 25%);
            font-style: italic;
        }
    }
    
    .blogSection {
        .pageWidth {
            max-width: 80rem;
        }
        p {
            font-size: 1.6rem;
            line-height: 1.8;
            margin-bottom: 2rem;
        }
        p,
        .block-img {
            img {
                max-width: 80%;
                display: block;
                margin: 0 auto;
            }
        }
        blockquote {
            text-align: center;
            border-radius: 1px solid $color-gray1;
            .quote {
                font-size: 2.8rem;
                color: $color-gray4;
            }
            .attr {
                display: block;
                width: 100%;
            }
        }
        h4,
        h5 {
            margin: 2rem 0;
        }
        .byline {
            margin-bottom: 1rem;
            font-size: 1.4rem;
            color: $color-gray4;
            @include font-playfair;
            .author:before {
                content: 'By '
            }
        }
        .ctaText {
            border-top: 1px solid $color-gray4;
            color: $color-gray4;
            margin-top: 2rem;
            padding-top: 2rem;
            font-size: 1.6rem;
            text-align: center;
            .button {
                display: block;
                margin: 2rem auto;
                max-width: 20rem;
            }
        }
    }
    
    .s-Intro {
        h3 {
            max-width: 90%;
        }
        .columns {
            display: flex;
            justify-content: space-between;
        }
        .columns.half {
            flex-wrap: wrap;
            h3 {
                flex-basis: 100%;
            }
            .col {
                flex-basis: 49%;
            }
        }
        .col:first-child {
            flex-basis: 70%;
            margin-right: 2rem;
            p:first-of-type {
                @include font-playfair;
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.8;
            }
        }
        ul {
            padding-left: 2rem;
        }
    }
    
    .s-ImageGroup {
        .col {
            margin: 0 0 0 1rem;
        }
        .col2 {
            .responsiveImage,
            .responsiveVideo {
                padding-bottom: 60%;
            }
            .col {
                flex-basis: calc(50% - 1rem);
            }
            .col:first-child {
                margin-left: 0;
            }
        }
        .col3 {
            .responsiveImage,
            .responsiveVideo {
                padding-bottom: 75%;
            }
            .col {
                flex-basis: calc(33.33% - 1.5rem);
            }
            .col:first-child {
                margin-left: 0;
            }
        }
    }
    
    .s-noBorder {
        .responsiveImage,
        .responsiveVideo {
            border: 0 none transparent;
            border-radius: 0;
        }
        .col2 {
            .responsiveImage,
            .responsiveVideo {
                padding-bottom: 65%;
            }
        }
        .col3 {
            .responsiveImage,
            .responsiveVideo {
                padding-bottom: 80%;
            }
        }
    }
    
    .s-facilitator {
        .responsiveImage,
        .responsiveVideo {
            padding-bottom: 75%;
        }
    }
    
    .s-cta {
        .ctaText {
            max-width: 80%;
            text-align: center;
            margin: 0 auto;
            span {
                font-size: 1.6rem;
                font-weight: 600;
                padding: 1rem;
            }
        }
        button {
            display: inline-block;
        }
        // &:before {
        //     content: '';
        //     position: absolute;
        //     height: 3rem;
        //     bottom: 99%;
        //     left: 0;
        //     right: 0;
        //     clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        // }
    }
    
    .s-cta:nth-of-type(1) {
        &:before {
            display: none;
        }
    }
    
    .caseStudyList,
    .insightList {
        .pic {
            background-color: $color-white;
            padding: 1rem;
            margin-bottom: 2rem;
            box-shadow: 0 0 0.4rem 0 rgba(0, 0, 0, 0.1);
            &:after {
                content: '';
                position: absolute;
                top: 1rem;
                right: 1rem;
                bottom: 1rem;
                left: 1rem;
                background-color: $color-white;
                z-index: 1;
            }
        }
        .responsiveImage {
            z-index: 10;
            filter: grayscale(1);
            margin-bottom: 0;
            border-radius: 0;
            border: 0 none transparent;
            padding-bottom: 49.09%;
            transition: all 0.25s ease;
        }
        .learnMore {
            position: absolute;
            z-index: 20;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: $color-gold1;
            color: $color-white;
            padding: 1rem 2rem;
            border-radius: 0.3rem;
            opacity: 0;
            transition: opacity 0.25s ease-in-out;
        }
        .col {
            &:hover {
                cursor: pointer;
                .responsiveImage {
                    filter: grayscale(0);
                }
            }
        }
        &.workshopList {
            .pic {
                background-color: $color-white;
            }
            .responsiveImage {
                border: 0.1rem solid $color-gray1;
            }
            h5 {
                font-size: 1.6rem;
                font-weight: 600;
            }
        }
    }
    
    .caseStudyList {
        &.col3 {
            justify-content: flex-start;
            .col {
                display: none;
                flex-basis: calc(33.33% - 2rem);
                margin-left: 2rem;
                &:first-child {
                    margin-left: 0;
                }
            }
            .col:nth-child(-n+3) {
                display: block;
            }
        }
        &.studiesFull {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .col {
                flex-basis: calc(50% - 2rem);
                margin-left: 2rem;
                margin-bottom: 4rem;
                display: flex;
                &:nth-child(odd) {
                    margin-left: 0;
                }
                .picWrap {
                    flex: 2;
                    margin-right: 1rem;
                }
                .studyInfo {
                    flex: 1;
                }
                h4 {
                    font-size: 2rem;
                }
                button {
                    display: none;
                }
                .responsiveImage {
                    filter: grayscale(0);
                }
            }
        }
    }
    
    .insightList {
        justify-content: flex-start;
        flex-wrap: wrap;
        .col {
            flex-basis: calc(33.33% - 2rem);
            margin-left: 2rem;
            margin-bottom: 4rem;
            &:first-child,
            &:nth-child(3n+4) {
                margin-left: 0;
            }
        }
        .pic {
            max-width: 80%;
        }
    }
    
    .allStudies {
        .studySection {
            padding-bottom: 0;
            .pageWidth {
                border-bottom: 1px solid darken($color-gray1, 3%);
            }
        }
    }
    
    #cta {
        display: none;
    }
    
    .bg-ltGray {
        background-color: $color-gray1;
        color: $color-gray5;
        .responsiveImage,
        .responsiveVideo {
            border-color: darken($color-gray1, 5%);
        }
        &.s-cta:before {
            background-color: $color-gray1;
        }
    }
    
    .bg-darkGray {
        background-color: $color-gray5;
        color: $color-white;
        .responsiveImage,
        .responsiveVideo {
            border-color: darken($color-gray5, 5%);
        }
        &.s-cta:before {
            background-color: $color-gray5;
        }
    }
    
    .bg-gold {
        background-color: $color-gold1;
        color: $color-white;
        .responsiveImage,
        .responsiveVideo {
            border-color: darken($color-gold1, 5%);
        }
        &.s-cta:before {
            background-color: $color-gold1;
        }
        h3 {
            color: $color-gray5;
            &:after {
                background-color: $color-gold2;
            }
        }
    }
    
    .bg-white {
        background-color: $color-white;
        color: $color-gray5;
        .responsiveImage,
        .responsiveVideo {
            border-color: darken($color-gray1, 5%);
        }
        &.s-cta:before {
            background-color: $color-white;
        }
    }
    
    .bg-white+.bg-white {
        border-top: 1px solid $color-gray1;
    }
    
    .announce {
        .col2 {
            margin-bottom: 4rem;
        }
        .ctaText {
            text-align: center;
            margin: 2rem 0;
            padding: 4rem 0;
            border-top: 1px solid $color-gray4;
            span {
                font-size: 2rem;
            }
            .button {
                display: block;
                margin: 2rem auto;
                max-width: 20rem;
            }
        }
    }
    
    //-----------------------------------------------
    // Font awesome example
    // h1 {
    //     &:before {
    //         @extend %fa-icon;
    //         @extend .fas;
    //         content: fa-content($fa-var-user);
    //     }
    // }
    //-----------------------------------------------
    @media only screen and (max-width: 800px) {
        #pageTop header {
            min-height: 3rem;
            max-height: 3rem;
            h1 {
                height: 90%;
                z-index: 100;
                left: 2rem;
                // background-position: center center;
            }
            .menuToggle {
                position: absolute;
                display: block;
                top: 50%;
                right: 2rem;
                transform: translateY(-50%);
                color: $color-gold1;
                font-size: 1.6rem;
                font-weight: 600;
                z-index: 60;
                cursor: pointer;
            }
            nav {
                position: fixed;
                top: 0.5rem;
                right: 0;
                bottom: 0;
                width: 100%;
                max-width: 100%;
                background-color: $color-gray5;
                z-index: 50;
                transform: translate(100%, 0);
                padding-top: 14rem;
                a {
                    display: block;
                    width: 80%;
                    text-align: center;
                    padding: 1rem;
                    margin: 0 auto;
                    font-size: 1.8rem;
                    border-top: 1px solid $color-gray6;
                }
                .location {
                    display: block;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 2rem;
                    border-top: 0 none transparent;
                }
                .navWrap {
                    padding: 0;
                    display: block;
                    .primaryNav {
                        display: none;
                    }
                    .subNav {
                        span {
                            display: none;
                        }
                        position: relative;
                        padding: 0;
                        background-color: transparent !important;
                        box-shadow: initial !important;
                        a {
                            margin: 0 auto;
                            display: block;
                        }
                        a:before {
                            content: "We "
                        }
                    }
                }
            }
            &.showMenu nav {
                transform: translate(0, 0);
            }
        }
        .announce .col2 .col {
            flex-basis: 100%;
            margin: 0 0 2rem 0;
        }
    }
    
    @media only screen and (max-width: 600px) {
        h3 {
            font-size: 3rem;
            margin-bottom: 2rem;
            max-width: 100%;
        }
        h4 {
            font-size: 2rem;
            span {
                font-size: 75%;
            }
        }
        h5 {
            font-size: 1.8rem;
        }
        #top {
            display: block;
            padding: 4rem 0;
            min-height: 50vh;
            h2 {
                font-size: 3rem;
                max-width: 100%;
                text-align: center;
            }
            .sidebar {
                display: none;
            }
            .cta {
                margin: 2rem auto;
                width: 80%;
                text-align: center;
            }
        }
        .serviceIntro {
            display: block;
            h3 {}
        }
        .aboutProcess {
            margin: 2rem auto;
            width: 60%;
        }
        #main {
            padding: 2rem 0;
            .col {
                flex-basis: 100%;
                border-top: 1px solid darken($color-gray1, 5%);
                padding-top: 2rem;
            }
            .col:first-child {
                border-top: 0 none transparent;
            }
        }
        #caseStudies,
        #aboutUs {
            .col3 .col {
                flex-basis: 100%;
                margin: 0 0 2rem 0;
            }
            .textSpace {
                display: none;
            }
        }
        .col3.caseStudyList,
        .studiesFull.caseStudyList {
            flex-wrap: wrap;
            .col {
                flex-basis: 100%;
                margin: 0 0 2rem 0;
            }
        }
        #cta {
            .button {
                margin-top: 2rem;
                display: block;
            }
        }
        .studySection {
            .s-textRow {
                flex-wrap: wrap;
                .col {
                    flex-basis: 100%;
                    margin: 0 0 2rem 0;
                }
            }
        }
        #people {
            .pageWidth,
            .personInfo {
                flex-wrap: wrap;
            }
            .teamTop,
            .teamBottom {
                .leftSide,
                .rightSide {
                    flex-basis: 100%;
                }
            }
            .teamTop {
                .rightSide {
                    height: 20rem;
                    margin: 0 -2rem;
                    flex-basis: calc(100% + 4rem);
                }
            }
            .teamBottom {
                .leftSide {
                    margin-bottom: 2rem;
                }
            }
            .questionList li {
                font-size: 1.6rem;
                padding: 0.5rem 0;
            }
            .personInfo {
                position: relative;
                left: auto;
                right: auto;
                top: auto;
                flex-wrap: wrap;
                .leftSide,
                .rightSide {
                    flex-basis: 100%;
                    padding-left: 0;
                }
            }
        }
        #contact {
            .col {
                flex-basis: 100%;
            }
        }
    }
    
    @media (pointer: coarse) and (hover: none) {
        body {
            // for PWAs on iOS
            -webkit-user-select: none;
            -webkit-tap-highlight-color: transparent;
            -webkit-touch-callout: none;
        }
    }
    
    @media print {
        * {
            background: transparent !important;
            color: black !important;
            text-shadow: none !important;
            filter: none !important;
            -ms-filter: none !important;
        }
        a,
        a:visited {
            color: #444 !important;
            text-decoration: underline;
        }
        a[href]:after {
            content: " (" attr(href) ")";
        }
        abbr[title]:after {
            content: " (" attr(title) ")";
        }
        .ir a:after,
        a[href^="javascript:"]:after,
        a[href^="#"]:after {
            content: "";
        }
        /* Don't show links for images, or javascript/internal links */
        pre,
        blockquote {
            border: 1px solid #999;
            page-break-inside: avoid;
        }
        thead {
            display: table-header-group;
        }
        /* css-discuss.incutio.com/wiki/Printing_Tables */
        tr,
        img {
            page-break-inside: avoid;
        }
        p,
        h2,
        h3 {
            orphans: 3;
            widows: 3;
        }
        h2,
        h3 {
            page-break-after: avoid;
        }
    }
    /* For image replacement */
    
    .ir {
        display: block;
        border: 0;
        text-indent: -999em;
        overflow: hidden;
        background-color: transparent;
        background-repeat: no-repeat;
        text-align: left;
        direction: ltr;
        *line-height: 0;
    }
    
    .ir br {
        display: none;
    }
    
    .hidden {
        display: none !important;
        visibility: hidden;
    }
    
    .visuallyhidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    
    .visuallyhidden.focusable:active,
    .visuallyhidden.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
    
    .invisible {
        visibility: hidden;
    }
    
    .clearfix:before,
    .clearfix:after {
        content: "";
        display: table;
    }
    
    .clearfix:after {
        clear: both;
    }
    
    .clearfix {
        *zoom: 1;
    }
    /* keep legacy sites happy */
    
    .clear {
        clear: both;
    }
    
    a:link {
        -webkit-tap-highlight-color: transparent;
    }